@using IqHealth.Data.Persistence.Model;
@model HealthServiceMaster

@{
    ViewBag.Title = Model.Name + " Service";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Head{
    <title>@Model.Name + " Service" | Life better</title>
    <meta name="description" content="@Model.Description.Take(200)">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Accuit Technologies">
    <meta name="robots" content="INDEX, FOLLOW">
    <meta name="keywords" content="@string.Join(",", Model.ServicesInclList.SelectMany(x=>x))">
    <meta name="date" content="@DateTime.Now.ToLongDateString()" scheme="YYYY-MMM-DD">
    <meta httpequiv="Content-Type" content="text/html">
    <meta property="og:title" content="@(Model.Name + " HealthCare Service")">
    <meta property="og:description" content="@Model.Description">
    <meta property="og:url" content="https://www.leelahealthcare.com/diagnostic-service/@(Model.ID +"/"+ Model.Name + "-diagnostic-service")">
    <meta property="og:image" content="https://www.leelahealthcare.com/content/img/services/@(Model.Name.ToLower().Replace(' ', '-').Replace("&","").Replace("/","") + ".jpg")">
    <meta property="og:type" content="website">
}

<section class="banner_area">
    <div class="banner_inner d-flex align-items-center">
        <div class="container">
            <div class="banner_content text-center">
                <h2>@Model.Name Service</h2>
                <div class="page_link">
                    <a href="/">Home</a>
                    <a @Url.Action("Index")>Services</a>
                    <a href="single-blog.html">@Model.Name Service</a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="blog_area single-post-area p_120">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 posts-list">
                <div class="single-post row">
                    <div class="col-lg-12">
                        <div class="feature-img">
                            <img class="img-fluid" width="100%" src="~/Content/img/services/@(Model.Name.ToLower().Replace(' ','-')+".jpg")" alt="@Model.Name">
                        </div>
                    </div>
                    <div class="col-lg-3  col-md-3">
                        <div class="blog_info text-right">
                            <div class="post_tag">
                                <a href="#">Healthcare</a>
                                <a class="active" href="#">Diagnostic Services</a>
                            </div>
                            <ul class="blog_meta list">
                                <li>
                                    <a href="#">
                                        Mark wiens
                                        <i class="lnr lnr-user"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        @DateTime.Now.ToLongDateString()
                                        <i class="lnr lnr-calendar-full"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        1.2K Views
                                        <i class="lnr lnr-eye"></i>
                                    </a>
                                </li>
                            </ul>
                            <ul class="social-links">
                                <li>
                                    <a href="https://www.facebook.com/leelahealthcarebpr">
                                        <i class="fa fa-facebook"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://twitter.com/HealthcareLeela">
                                        <i class="fa fa-twitter"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.linkedin.com/">
                                        <i class="fa fa-linkedin"></i>
                                    </a>
                                </li>
                                @*<li>
                                        <a href="#">
                                            <i class="fa fa-behance"></i>
                                        </a>
                                    </li>*@
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-9 col-md-9 blog_details">
                        <h2>@Model.Name</h2>
                        <p class="excert">
                            @Html.Raw(Model.Description)
                        </p>

                    </div>
                    <div class="col-lg-12">
                        <div class="quotes">
                            <h3>@Model.Name Services Includes</h3>
                            @if (Model.ServicesInclList.Count() > 0)
                            {
                                <ul class="unordered-list">

                                    @foreach (var item in Model.ServicesInclList)
                                    {
                                        <li> @item.ToString() </li>
                                    }

                                </ul>
                            }
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-lg-4">
                <div class="blog_right_sidebar">
                    <aside class="single_sidebar_widget popular_post_widget">
                        <h3 class="widget_title">Popular Posts</h3>
                        <div class="media post_item">
                            <img src="img/blog/popular-post/post1.jpg" alt="post">
                            <div class="media-body">
                                <a href="blog-details.html">
                                    <h3>Space The Final Frontier</h3>
                                </a>
                                <p>02 Hours ago</p>
                            </div>
                        </div>
                        <div class="media post_item">
                            <img src="img/blog/popular-post/post2.jpg" alt="post">
                            <div class="media-body">
                                <a href="blog-details.html">
                                    <h3>The Amazing Hubble</h3>
                                </a>
                                <p>02 Hours ago</p>
                            </div>
                        </div>
                        <div class="media post_item">
                            <img src="img/blog/popular-post/post3.jpg" alt="post">
                            <div class="media-body">
                                <a href="blog-details.html">
                                    <h3>Astronomy Or Astrology</h3>
                                </a>
                                <p>03 Hours ago</p>
                            </div>
                        </div>
                        <div class="media post_item">
                            <img src="img/blog/popular-post/post4.jpg" alt="post">
                            <div class="media-body">
                                <a href="blog-details.html">
                                    <h3>Asteroids telescope</h3>
                                </a>
                                <p>01 Hours ago</p>
                            </div>
                        </div>
                        <div class="br"></div>
                    </aside>
                    <aside class="single_sidebar_widget ads_widget">
                        <a href="#">
                            <img class="img-fluid" src="img/blog/add.jpg" alt="">
                        </a>
                        <div class="br"></div>
                    </aside>
                    <aside class="single_sidebar_widget post_category_widget">
                        <h4 class="widget_title">Post Catgories</h4>
                        <ul class="list cat-list">
                            <li>
                                <a href="#" class="d-flex justify-content-between">
                                    <p>Technology</p>
                                    <p>37</p>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="d-flex justify-content-between">
                                    <p>Lifestyle</p>
                                    <p>24</p>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="d-flex justify-content-between">
                                    <p>Fashion</p>
                                    <p>59</p>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="d-flex justify-content-between">
                                    <p>Art</p>
                                    <p>29</p>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="d-flex justify-content-between">
                                    <p>Food</p>
                                    <p>15</p>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="d-flex justify-content-between">
                                    <p>Architecture</p>
                                    <p>09</p>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="d-flex justify-content-between">
                                    <p>Adventure</p>
                                    <p>44</p>
                                </a>
                            </li>
                        </ul>
                        <div class="br"></div>
                    </aside>
                    <aside class="single-sidebar-widget tag_cloud_widget">
                        <h4 class="widget_title">Tag Clouds</h4>
                        <ul class="list">
                            <li>
                                <a href="#">Technology</a>
                            </li>
                            <li>
                                <a href="#">Fashion</a>
                            </li>
                            <li>
                                <a href="#">Architecture</a>
                            </li>
                            <li>
                                <a href="#">Fashion</a>
                            </li>
                            <li>
                                <a href="#">Food</a>
                            </li>
                            <li>
                                <a href="#">Technology</a>
                            </li>
                            <li>
                                <a href="#">Lifestyle</a>
                            </li>
                            <li>
                                <a href="#">Art</a>
                            </li>
                            <li>
                                <a href="#">Adventure</a>
                            </li>
                            <li>
                                <a href="#">Food</a>
                            </li>
                            <li>
                                <a href="#">Lifestyle</a>
                            </li>
                            <li>
                                <a href="#">Adventure</a>
                            </li>
                        </ul>
                    </aside>
                </div>
            </div>
        </div>
    </div>
</section>